.post-content {
  margin: 0.4rem;
  padding: 0.4rem 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.aligned-f {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
